<h1>Registro con JWT</h1>

<form action="/user/api/registerJWT" method="POST">

    <label>Nombre:</label>
    <input type="text" name="first_name" required>

    <label>Apellido:</label>
    <input type="text" name="last_name" required>

    <label>Email:</label>
    <input type="email" name="email" required>

    <label>Contraseña:</label>
    <input type="password" name="password" required>

    <button type="submit">Registrarse</button>
</form>

<br>
<a href="/user/login">Ya tenés cuenta? Inicia sesión</a>